.App {
}

.section {
  height: 100vh;
}

.heroSection {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-image: url(./smiling-happy-young-woman.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.welcome {
  text-align: center;
  font-size: 8vw;
  font-weight: 900;
  /* margin-top: 20%; */
  color: #fa0000;
  text-shadow: 6px 8px 4px rgba(0, 0, 0, 0.1);
}

.about,
.terms,
.contact {
  background-color: #fa0000;
  margin-top: -10px;
  text-align: center;
  font-size: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;

  height: 100vh;
}

.about {
  background-image: url(./handsome-man-with-sunglasses.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.aboutOverlay {
  content: "";
  display: block;
  position: absolute;
  top: 99vh;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: red;
  z-index: 0;
  opacity: 0.7;
}

.terms {
  background-color: #fff;
  color: #fa0000;
  height: auto;
  padding-bottom: 20px;
}

.aboutHeader,
.termsHeader {
  font-size: 8vw;
  z-index: 1;
}

.aboutText,
.termsText {
  width: 50%;
  z-index: 2;
}
